@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; justify-content:center;align-items:center; width:100%;height:100%;">
    <button id="StartQueryingButton">Start Querying</button>
    <div id="QueryResponseCount"></div>
</div>

<script>
    window.addEventListener('load', function () {
        queryButtonSetup();
    });

    var queryCount = 0;

    var queryButtonSetup = function () {
        var queryButton = document.getElementById('StartQueryingButton');

        queryButton.addEventListener('click', onQueryButtonClickedFirstTime);
    };

    var onQueryButtonClickedFirstTime = function (e) {
        var button = e.currentTarget;

        button.removeEventListener('click', onQueryButtonClickedFirstTime);
        button.disabled = true;

        submitQuery();
    }; 

    var submitQuery = function () {
        queryCount++;

        var thisQueryCount = queryCount;

        var onResult = function () {
            document.getElementById('QueryResponseCount').innerHTML = thisQueryCount;
            submitQuery();
        };

        var req = new XMLHttpRequest();
        req.addEventListener("load", onResult);
        req.open("GET", "/query-database");
        req.send();
    };

</script>
